:root {
    // Background Colors
    --primary-bg: #8D5A5A;
    --secondary-bg: #20161F;

    // Text colors
    --color-black: #000000;
    --color-light-grey: #818181;
    --color-white: #ffffff;

    // Font
    --primary-font: 'Montserrat', 'sans-serif';
}